body, html {

  height: 100%;
  margin: 0%;
  font-size: 16px;
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;


}

h1 {
  padding: 5px;

}

footer {
  padding: 30px;

}

.nav {
  z-index: 3;

}

.prog1, .city1, .edu1 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.prog1 {
  background-image: url(../img/prog1.jpeg);
  min-height: 100%;

}

.city1 {
  background-image: url(../img/city1.jpeg);
  min-height: 600px;

}
.edu1 {
  background-image: url(../img/edu1.jpeg);
  min-height: 500px;

}

.prog1 .ptext {
  color: #fff;

}

 .city1 .ptext {
   color: #fff;

 }

 .edu1 .ptext {
   color: #fff;

 }

/*
.section {
  text-align: center;
  padding: 50px 80px;
}
*/


.section-light {
  text-align: center;
  padding: 50px 80px;
  background-color: rgba(211, 211,	211, 0.75);


 }

.section-dark {
  text-align: left;
  padding: 50px 80px;
  background-color: rgba( 40, 46, 52, 0.75);
  color: #fff;

}

.section-blue {
  text-align: left;
  padding: 50px 80px;
  background-color: rgba(85, 121, 175, 0.75);
  color: #fff;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 8px;
  font-family: 'Raleway';

}

/* CSS For the Project Portion of the Website */
/* I don't actually know if this is the right way to do it */

.container{
  overflow-x: hidden;
  padding-top: 40px;

}

.project-1-left, .project-2-left, .project-3-left {
  padding: 20px;

}

.project-1-left img {
  height: 100%;
  width: 100%;

}

.project-1-left img:hover {
  opacity: 0.50
}

.project-2-left img{
  height: 100%;
  width: 100%;

}

.project-2-left img:hover{
  opacity: 0.50
}

.project-3-left img{
  height: 100%;
  width: 100%;

}


.project-1-right, .project-2-right, .project-3-right{
  padding: 20px;


}
